name: tfsec
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tfsec:
    name: tfsec sarif report
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Run tfsec and generate SARIF
        uses: aquasecurity/tfsec-sarif-action@v0.1.4
        with:
          sarif_file: tfsec.sarif
          full_repo_scan: true

      # Upload SARIF to GitHub Code Scanning
      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: tfsec.sarif

      - name: PR Commenter (tfsec)
        if: github.event_name == 'pull_request'
        uses: tfsec/tfsec-pr-commenter-action@v1.3.1
        with:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Terraform security scan Advanced
        if: github.event_name == 'pull_request'
        uses: triat/terraform-security-scan@v3.1.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          tfsec_actions_comment: true
          tfsec_output_format: sarif
        continue-on-error: true
